@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap')
$gray: #7d7d7d
$light-gray: #e5e5e5
$almost-white: #f3f3f3
*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    font-family: 'Libre Baskerville', serif
    position: relative
    text-rendering: optimizeSpeed
h1, h2, h3, h4, h5, h6
    font-weight: 700
    color: white 
p
    font-size: 14px
    line-height: 28px
p, a
    color: $gray
a
    background-color: white
    text-decoration: none
a:hover
    color: black 
img
    max-width: 100%
    display: block
a, button, img 
    transition: 0.3s ease
a, button 
    font-family: 'Libre Baskerville', serif
button
    cursor: pointer
.container
    width: 100%
    padding-left: calc(8px + 1.5625vw)
    padding-right: calc(8px + 1.5625vw)
    margin-left: auto
    margin-right: auto 
@media only screen and (min-width: 768px)
    .container
        padding-left: 40px
        padding-right: 40px
// Header 
header
    border-bottom: 1px solid $light-gray
header .container
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 24px
    padding-bottom: 24px
header a 
    font-size: 9px
    letter-spacing: 1.93px
.logo
    width: 113px
@media only screen and (min-width: 768px)
    header .container
        padding-top: 29px
        padding-bottom: 29px
    header a 
        font-size: 12px
        letter-spacing: 2.57px
@media only screen and (min-width: 1440px)
    header .container
        padding-top: 40px
        padding-bottom: 40px
    .logo
        width: 100%
// HOME - Gallery
.gallery-grid
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    margin-top: 24px
    column-gap: 24px
.card
    width: 100%
    height: fit-content
    margin-bottom: 24px
    position: relative
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.7))
    cursor: pointer
.card-content
    height: fit-content
.card:hover
    background-color: rgba(255, 255, 255, 0.5)
.card-empty
    margin-bottom: 0
    padding-bottom: 0
.link
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
#painting-thumbnail
    position: relative
    width: 100%
    z-index: -1
.home-thumb-info
    position: absolute
    bottom: 32px
    left: 32px
#home #painting-name
    font-size: 24px
    margin-bottom: 7px
    max-width: 13ch
#home #painter-name
    font-size: 13px
    color: rgba(255, 255, 255, 0.75)
@media only screen and (min-width: 481px) and (max-width: 768px)
    .gallery-grid
        margin-top: 2%
        column-gap: 2%
    .card
        width: 49%
        margin-bottom: 2%
@media only screen and (min-width: 768px) and (max-width: 1024px)
    .gallery-grid
        margin-top: 4%
        column-gap: 4%
    .card
        width: 48%
        margin-bottom: 4%
@media only screen and (min-width: 1025px) 
    .gallery-grid
        margin-top: 3%
        column-gap: 3%
    .card
        width: 22.75%
        margin-bottom: 3%
// DETAIL/SLIDESHOW PAGES
.detail-top
    position: relative
    margin-top: 24px
.view
    position: absolute
    top: 16px
    left: 16px
    border: none
    background-color: rgba(0,0,0,0.75)
    padding: 14px 16px
    display: flex
    color: white
    font-size: 10px
    letter-spacing: 2.14px
    cursor: pointer
.view:hover
    background-color: rgba(255,255,255,0.25)
.view img
    margin-right: 14px
.detail-heading
    position: absolute
    bottom: -65px
    background-color: #fff
    padding: 24px
    min-width: 280px
.detail-heading #painting-name
    color: black
    font-size: 24px
    line-height: 29px
    margin-bottom: 8px
    max-width: 10ch
.detail-heading #painter-name
    color: $gray
    font-size: 15px
#painter-pic
    width: 64px
    position: absolute
    bottom: -64px
.detail-bottom
    position: relative
#year
    color: $almost-white
    font-size: 100px
    line-height: 100px
    position: absolute
    right: 0
    top: -70px
#description
    margin-top: 172px
    margin-bottom: 68px
    position: relative
    font-weight: 700
#source
    font-size: 9px
    letter-spacing: 1.93px
    text-decoration: underline
    font-weight: 700
.controller
    margin-top: 67px
.controller-wrapper, .controller-nav
    display: flex
    align-items: center
.controller-wrapper
    justify-content: space-between
    margin-top: 17px
    margin-bottom: 17px
.controller #painting-name, .controller #painter-name
    color: rgba(0, 0, 0, 0.75)
.controller #painting-name
    font-size: 14px
    margin-bottom: 9px
.controller #painter-name
    font-size: 10px
.controller-nav a:not(:last-child)
    margin-right: 23px
.controller-nav img
    cursor: pointer
    width: 16.78px
.controller-nav img:hover
    opacity: 0.5
@media only screen and (min-width: 768px)
    .detail-top
        margin-top: 40px
    .view
        top: unset
        bottom: 16px
    #hero-img img
        width: 475px
    .detail-heading
        bottom: unset
        top: -1px
        left: 243px
        padding: 0 65px 65px 65px
        min-width: 445px
    #painter-pic
        width: 128px
        bottom: -128px
        left: 262px
    .detail-heading #painting-name
        font-size: 56px
        line-height: 64px
        margin-bottom: 24px
        max-width: 7ch
    #year
        font-size: 200px
        line-height: 150px
        right: unset
        top: -70px
    #description
        margin: 139px 115px 40px 115px
    #source
        margin-left: 115px
    .controller
        margin-top: 53px
    .controller-wrapper
        margin-top: 25px
        margin-bottom: 25px
    .controller #painting-name
        font-size: 18px
        margin-bottom: 8px
    .controller #painter-name
        font-size: 13px
    .controller-nav img
        width: 25px
    .controller-nav a:not(:last-child)
        margin-right: 40px
@media only screen and (min-width: 1440px)
    .detail-top, .detail-bottom
        margin-top: 100px
    #detail
        display: flex
        justify-content: space-between
        align-items: center
    .detail-top
        width: 65%
        position: relative
    .detail-bottom
        width: 35%
    .detail-heading
        left: 410px
        padding: 0 65px 65px 65px
        min-width: auto
    #painter-pic
        bottom: unset
        top: 496px
        max-height: 560px
        left: 95px
    #year
        top: 0
    #description
        margin: 115px 125px 81px 0
    #source
        margin-left: 0
    .controller
        margin-top: 128px
// GALLERY LIGHTBOX
.overlay
    background-color: rgba(0,0,0,0.85)
    width: 100%
    position: fixed
    z-index: 5 !important
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none
.overlay.active
    display: block
.overlay .container
    height: 100vh
    display: flex
    overflow: scroll
.lightbox-wrapper
    position: relative
    margin: auto 
    max-height: 490px
    background-color: orange
.close
    position: absolute
    background-color: transparent
    border: none
    color: white 
    font-size: 14px
    top: -50px
    right: 0
.close:hover
    color: rgba(255, 255, 255, 0.25)
@media only screen and (min-width: 768px)
    .lightbox-wrapper
        max-width: 670px
        max-height: 80vh
//PROGRESS BAR
.progress-bar
    position: relative
    height: 1px
    background-color: $light-gray
.inner-bar
    background-color: black
    height: 1px
.progress-1
    width: 6.7%
.progress-2
    width: 13.3%
.progress-3
    width: 20%
.progress-4
    width: 26.7%
.progress-5
    width: 33.3%
.progress-6
    width: 40%
.progress-7
    width: 46.7%
.progress-8
    width: 53.3%
.progress-9
    width: 60%
.progress-10
    width: 66.7%
.progress-11
    width: 73.3%
.progress-12
    width: 80%
.progress-13
    width: 86.7%
.progress-14
    width: 93.3%
.progress-15
    width: 100%
